doctype html
html(lang="es")

head
    title #{titulo}
    link(rel="stylesheet", href="/css/estilos.css")

body
    h1 
        a(href="/") Bienvenido a mi Tienda

    h2 No se encuentra la direccion "#{textoError}" en el Sistema.