doctype html
html(lang=es)

head    
    title Tienda
    link(rel="stylesheet", href="/css/estilos.css")

body
    h1
        a(href="TiendaDeFruta.com") Tienda de Camisetas
    each camiseta in camisetas
        div.item
            h2 Camiseta #{camiseta.color}
            img(src=camiseta.imagen, alt="camiseta")